{% extends "base.html" %}
{% load static tailwind_tags %}
{% load i18n %}


{% block title %}
Home
{% endblock title %}

{% block heading %}

<div class="max-w-7xl mx-auto py-6 px-4 sm:px-6 lg:px-8">
  <h1 class="text-3xl font-bold text-gray-900"> {% translate "Tableau de bord" %} </h1>
   
  <div class = "flex justify-end items-center ml-6">

    {% get_current_language as CURRENT_LANGUAGE %}
    {% get_available_languages as AVAILABLE_LANGUAGES %}
    {% get_language_info_list for AVAILABLE_LANGUAGES as languages %}
    <div class="languages">
      <p class="text-m font-medium text-gray-700">{% translate "Choisir une langue" %}:</p>
      <ul class="languages flex space-x-2">
      {% for language in languages %}
        <li>
        <a href="/{{ language.code }}/"
          {% if language.code == CURRENT_LANGUAGE %} class="active text-blue-600"{% endif %}>
          <img src="/static/assets/img/{{ language.code }}_flag.png" alt="{{ language.name_local }}"
                        class="w-6 h-auto inline-block">
        </a>
        </li>
      {% endfor %}
      </ul>
    </div>
  
  </div>
  
</div>

{% endblock heading %}

{% block content %}


<div class="max-w-7xl mx-auto py-6 sm:px-6 lg:px-8">
  <div class="px-4 py-6 sm:px-0">
    <!-- This example requires Tailwind CSS v2.0+ -->
    <div class="relative bg-white overflow-hidden">
      <div class="pt-16 pb-80 sm:pt-24 sm:pb-40 lg:pt-40 lg:pb-48">
        <div class="relative max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 sm:static">
          <div class="sm:max-w-lg">
            <h1 class="text-4xl font font-extrabold tracking-tight text-gray-900 sm:text-6xl">{% translate "Migration des données de l'observatoire" %}</h1>
            <p class="mt-4 text-xl text-gray-500">
              {% translate "text-intro" %}
            </p>
          </div>
          <div>
            <div class="mt-10">
              <!-- Decorative image grid -->
              <div aria-hidden="true"
                class="pointer-events-none lg:absolute lg:inset-y-0 lg:max-w-7xl lg:mx-auto lg:w-full">
                <div
                  class="absolute transform sm:left-1/2 sm:top-0 sm:translate-x-8 lg:left-1/2 lg:top-1/2 lg:-translate-y-1/2 lg:translate-x-8">
                  <div class="flex items-center space-x-6 lg:space-x-8">
                    <div class="flex-shrink-0 grid grid-cols-1 gap-y-6 lg:gap-y-8">
                      <div class="w-44 h-64 rounded-lg overflow-hidden sm:opacity-0 lg:opacity-100">
                        <img src="{% static '/assets/img/home/1.png' %}" alt=""
                          class="w-full object-center object-cover">
                      </div>
                      <div class="w-44 h-64 rounded-lg overflow-hidden">
                        <img src="{% static '/assets/img/home/2.png' %}" alt=""
                          class="w-full object-center object-cover">
                      </div>
                    </div>
                    <div class="flex-shrink-0 grid grid-cols-1 gap-y-6 lg:gap-y-8">
                      <div class="w-44 h-64 rounded-lg overflow-hidden">
                        <img src="{% static '/assets/img/home/3.png' %}" alt=""
                          class="w-full object-center object-cover">
                      </div>
                      <div class="w-44 h-64 rounded-lg overflow-hidden">
                        <img src="{% static '/assets/img/home/7.png' %}" alt=""
                          class="w-full object-center object-cover">
                      </div>
                      <div class="w-44 h-64 rounded-lg overflow-hidden">
                        <img src="{% static '/assets/img/home/5.png' %}" alt=""
                          class="w-full object-center object-cover">
                      </div>
                    </div>
                    <div class="flex-shrink-0 grid grid-cols-1 gap-y-6 lg:gap-y-8">
                      <div class="w-44 h-64 rounded-lg overflow-hidden">
                        <img src="{% static '/assets/img/home/6.png' %}" alt=""
                          class="w-full object-center object-cover">
                      </div>
                      <div class="w-44 h-64 rounded-lg overflow-hidden">
                        <img src="{% static '/assets/img/home/4.png' %}" alt=""
                          class="w-full object-center object-cover">
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <a href="{% url 'logbook' %}"
                class="inline-block text-center bg-indigo-600 border border-transparent rounded-md py-3 px-8 font-medium text-white hover:bg-indigo-700">
                {% translate "Commencer l'importation" %}</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- /End replace -->
</div>
{% endblock content %}