{% extends "base.html" %}
{% load static tailwind_tags %}
{% load i18n %}


{% block title %}
Login
{% endblock title %}


<!-- <body class="relative py-16" style="background-image: url ({%static '/assets/img/back/bac3.png' %}) ; "> -->

{% block content %}
<div class="relative py-16" style="background-image: url ({%static '/assets/img/back/bac3.png' %}); ">
    <div class="relative container m-auto px-6 text-gray-500 md:px-12 xl:px-40">
        <div class="m-auto md:w-8/12 lg:w-6/12 xl:w-6/12">
            <div class="rounded-xl bg-white shadow-xl">
                <div class="p-6 sm:p-16">
                    <div class="space-y-4">
                        <img src="{% static '/assets/img/logo.png' %}"  class="h-100 w-100" alt="Observe logo">
                        <h2 class="mb-8 text-2xl text-center text-cyan-900 font-bold">Welcome !</h2>
                    </div>
                    <div class="mt-16 grid space-y-4">
                        <form action="" method="post">
                            <style>
                                h4{ color:red}
                            </style>

                                <h4 class="font-semibold">{{ message }}</h4>
                                {% csrf_token %}
                                        <label class="text-lg">Enter your credentials to access the application.</label>
                                        <div class="relative mt-4">
                                           <select name="base" id="base" class="w-full px-4 py-3 ring-1 ring-cyan-700 rounded-xl">
                                                <option value="vmot6-proto.ird.fr">Base acquisition sur vmot6-proto.ird.fr</option>
                                                <option value="test-proto.ird.fr">Base test sur vmot6-proto.ird.fr</option>
                                                <option value="9b_vmot6-proto.ird.fr">Base 9b sur vmot6-proto.ird.fr</option>
                                                <option value="seine_observe.sfa.sc">Base seine sur observe.sfa.sc</option>
                                                <option value="longline_observe.sfa.sc">Base longline sur observe.sfa.sc</option>
                                            </select>
                                        </div>

                                        <div class="relative mt-4">
                                            <input type="text" name="username" placeholder="Your username" class="w-full px-4 py-3 ring-1 ring-cyan-700 rounded-xl">
                                        </div>

                                        <div class="relative mt-4">
                                            <input type="password" name="password" placeholder="Your password" class="w-full px-4 py-3 ring-1 ring-cyan-700 rounded-xl bg-gray-900 bg-opacity-20 invalid:ring-red-400 invalid:outline-none">
                                        </div>
                            <div class="relative mt-4">
                                <button type="submit" title="Submit" class="w-full px-4 py-3 text-center rounded-xl transition bg-blue-600 hover:bg-blue-900 active:bg-blue-900 focus:bg-blue-900">
                                    <span class="text-white font-semibold">
                                        Send
                                    </span>
                                </button>
                            </div>
                        </form>
                    </div>

                    <div class="mt-10 space-y-4 text-gray-600 text-center sm:-mb-8">
                        <p class="text-xs">Observe logbook <a href="#" class="underline">data import</a>  version <a href="#" class="underline">1.0.0</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
<!-- </body> -->
