<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Palangre aux Seychelles</title>
    <!-- Include your CSS styles or link to external stylesheets here -->
</head>
<body>

    <header>
        <h1>Page d'accueil pour les données de palangre</h1>
        <!-- Add navigation links if needed -->
    </header>

    <section>
        <h2>Mise à jour des données de références</h2>
        <p>
            en chargant cette page, normalement on se connecte à la base et on génère un TOKEN
        </p>
        <!-- div>
            {% if token %}
                <p>Sortie json de la connexion et extraction du token: {{ token }}</p>
            {% else %}
                <p>Failed to fetch data from the API.</p>
            {% endif %}
        </div -->
    
        <!-- Button to trigger data update -->
        <form method="post" action="{% url 'index' %}">
            {% csrf_token %}
            <button type="submit"> Recharger un token </button>
        </form>
        
    </section>

    <!--section>
        {% if data_ref_common %}
            <p> Sortie json de la connexion et extraction du token: {{ data_ref_common }}</p>
        {% else %}
            <p> ERREUR : pas de récupération des données réf common.</p>
        {% endif %}
    </section-->

    <div>
        <h3> Date du logbook </h3>
       <!-- {{ df_vessel | safe }} -->  
        <table border="1">
            <thead>
                <tr>
                    {% for col in df_date.columns %}
                        <th>
                            {{ col }}
                        </th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                {% for index, row in df_date.iterrows %}
                    <tr>
                        {% for cell in row %}
                        <td>
                            {{ cell }}
                        </td>
                        {% endfor %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <div>
        <h3> Vessel information - dataframe </h3>
       <!-- {{ df_vessel | safe }} -->  
        <table border="1">
            <thead>
                <tr>
                    {% for col in df_vessel.columns %}
                        <th>
                            {{ col }}
                        </th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                {% for index, row in df_vessel.iterrows %}
                    <tr>
                        {% for cell in row %}
                        <td>
                            {{ cell }}
                        </td>
                        {% endfor %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <div>
        <h3> Cruise information - dataframe </h3>
       <!-- {{ df_vessel | safe }} -->  
        <table border="1">
            <thead>
                <tr>
                    {% for col in df_cruise.columns %}
                        <th>
                            {{ col }}
                        </th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                {% for index, row in df_cruise.iterrows %}
                    <tr>
                        {% for cell in row %}
                        <td>
                            {{ cell }}
                        </td>
                        {% endfor %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <div>
        <h3> Gear information - dataframe </h3>
       <!-- {{ df_vessel | safe }} -->  
        <table border="1">
            <thead>
                <tr>
                    {% for col in df_gear.columns %}
                        <th>
                            {{ col }}
                        </th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                {% for index, row in df_gear.iterrows %}
                    <tr>
                        {% for cell in row %}
                        <td>
                            {{ cell }}
                        </td>
                        {% endfor %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <div>
        <h3> Line material - dataframe </h3>
       <!-- {{ df_vessel | safe }} -->  
        <table border="1">
            <thead>
                <tr>
                    {% for col in df_line.columns %}
                        <th>
                            {{ col }}
                        </th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                {% for index, row in df_line.iterrows %}
                    <tr>
                        {% for cell in row %}
                        <td>
                            {{ cell }}
                        </td>
                        {% endfor %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <div>
        <h3> Target species - dataframe </h3>
       <!-- {{ df_vessel | safe }} -->  
        <table border="1">
            <thead>
                <tr>
                    {% for col in df_target.columns %}
                        <th>
                            {{ col }}
                        </th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                {% for index, row in df_target.iterrows %}
                    <tr>
                        {% for cell in row %}
                        <td>
                            {{ cell }}
                        </td>
                        {% endfor %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <div>
        <h3> Target species - dataframe </h3>
       <!-- {{ df_vessel | safe }} -->  
        <table border="1">
            <thead>
                <tr>
                    {% for col in df_position.columns %}
                        <th>
                            {{ col }}
                        </th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                {% for index, row in df_position.iterrows %}
                    <tr>
                        {% for cell in row %}
                        <td>
                            {{ cell }}
                        </td>
                        {% endfor %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>



    <footer>
        <p>&copy; En cours de développement </p>
    </footer>

    <!-- Include your JavaScript files or link to external scripts here -->

</body>
</html>
