arrow==1.2.2
asgiref==3.5.2
backports.zoneinfo==0.2.1
binaryornot==0.4.4
certifi==2022.6.15
chardet==5.0.0
charset-normalizer==2.1.0
click==8.1.3
cookiecutter==2.1.1
Django==4.0.6
django-browser-reload==1.6.0
django-compilers==0.1
django-HTML-components==0.3
django-tailwind==3.3.0
et-xmlfile==1.1.0
idna==3.3
Jinja2==3.1.2
jinja2-time==0.2.0
MarkupSafe==2.1.1
numpy==1.23.3
openpyxl==3.0.10
pandas==1.4.4
=======
argcomplete @ file:///private/tmp/python-argcomplete-20231211-42231-mc1bv2/argcomplete-3.2.1
asgiref==3.7.2
certifi==2023.11.17
charset-normalizer==3.3.2
django>=4.2.10
django-tailwind==3.8.0
et-xmlfile==1.1.0
idna==3.6
MarkupSafe @ file:///private/tmp/python-markupsafe-20231211-21580-wvs9hr/MarkupSafe-2.1.3
numpy==1.26.3
openpyxl==3.1.2
packaging @ file:///private/tmp/python-packaging-20231211-10905-adsfgp/packaging-23.2
pandas==2.1.4
Pygments>=2.15.0

