{% load static tailwind_tags %}
{% load django_browser_reload %}
<!DOCTYPE html>
<html lang="en">

<head>
	<title>
		{% block title %}
		Django Tailwind
		{% endblock title %}
	</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	{% tailwind_css %}
	<script src="https://cdn.tailwindcss.com"></script>
	{% comment %} <script type="module" src="{% static 'js/iframe-alpine-b62b3e0d.js' %}"> </script> {% endcomment %}
</head>

<body>
	<nav class="bg-gray-800">
		{% block navigation %}
		{% endblock navigation %} </nav>
	<header class="bg-white shadow"> {% block heading %}
		{% endblock heading %}</header>

	<main>
		{% block content %}
		{% endblock content %}
	</main>
	<footer>
		{% block footer %}
		{% endblock footer %}
	</footer>
</body>

</html>