{% extends "base_bs5.html" %}
{% load static %}


{% block title %}

Palangre aux Seychelles

{% endblock title %}

{% block navigation %}
{% endblock navigation %}

{% block heading %}
<h1>Page d'accueil pour les données de palangre</h1>
{% endblock heading %}

{% block content %}


    <section>
        <h2>Mise à jour des données de références</h2>
        <p>
            en chargant cette page, normalement on se connecte à la base et on génère un TOKEN
        </p>
        <div>
            {% if token %}
                <p>Sortie json de la connexion et extraction du token: {{ token }}</p>
            {% else %}
                <p>Failed to fetch data from the API.</p>
            {% endif %}
        </div>
    
        <!-- Button to trigger data update -->
        <form method="post" action="{% url 'checking logbook' %}">
            {% csrf_token %}
            <button type="submit"> lancer le chargement des données </button>
        </form>
        
    </section>

   

<div class ="bg-danger">

    <div class = "container-fluid bg-success">
        <div class ="bg_warning">
            <h3> Données sélectionnées </h3>
           
            <ul>
                {% for key, value in apply_conf.items %}
                    <li><strong>{{ key }}:</strong> {{ value }}</li>
                {% endfor %}

            </ul>
        </div>    

        <div class = "row">
            <div class = "col-md-4">
                <div class= "table-responsive">
                    <h3 class = ""> Date du logbook </h3>
                
                    <table class="table" border="1" >
                        <thead>
                            <tr>
                                {% for col in df_date.columns %}
                                    <th scope="col"> {{ col }} </th>
                                {% endfor %}
                            </tr>
                        </thead>
                        <tbody>
                            {% for index, row in df_date.iterrows %}
                                <tr>
                                    {% for cell in row %}
                                    <td scope="row"> {{ cell }} </td>
                                    {% endfor %}
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                <br>
                <div class = "table-responsive">
                    <h3> Report information </h3>

                    <table border="1" class = "table">
                        <thead>
                            <tr>
                                {% for col in df_report.columns %}
                                    <th scope="col"> {{ col }} </th>
                                {% endfor %}
                            </tr>
                        </thead>
                        <tbody>
                            {% for index, row in df_report.iterrows %}
                                <tr>
                                    {% for cell in row %}
                                    <td scope="row"> {{ cell }} </td>
                                    {% endfor %}
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                <br>
                <div class = "table-responsive">
                    <h3> Cruise information </h3>
                    <table border="1" class = "table">
                        <thead>
                            <tr>
                                {% for col in df_cruise.columns %}
                                    <th scope="col">
                                        {{ col }}
                                    </th>
                                {% endfor %}
                            </tr>
                        </thead>
                        <tbody>
                            {% for index, row in df_cruise.iterrows %}
                                <tr>
                                    {% for cell in row %}
                                    <td scope="row">
                                        {{ cell }}
                                    </td>
                                    {% endfor %}
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="col-md-4">
                <div class= "table-responsive">                    
                    <h3 class = ""> Vessel information </h3>
                    
                    <table border="1" class = "table">
                        <thead>
                            <tr>
                                {% for col in df_vessel.columns %}
                                    <th scope="col"> {{ col }} </th>
                                {% endfor %}
                            </tr>
                        </thead>
                        <tbody>
                            {% for index, row in df_vessel.iterrows %}
                                <tr>
                                    {% for cell in row %}
                                    <td scope="row"> {{ cell }} </td>
                                    {% endfor %}
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                <br>  
                <div class = "table-responsive">
                    <h3> Gear information </h3>
                    <table border="1" class = "table">
                        <thead>
                            <tr>
                                {% for col in df_gear.columns %}
                                    <th scope = "col"> {{ col }} </th>
                                {% endfor %}
                            </tr>
                        </thead>
                        <tbody>
                            {% for index, row in df_gear.iterrows %}
                                <tr>
                                    {% for cell in row %}
                                    <td scope = "row"> {{ cell }} </td>
                                    {% endfor %}
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="col-md-4">
                <div class = "table-responsive">
                    <h3> Line material </h3>
                    <table border="1" class = "table">
                        <thead>
                            <tr>
                                {% for col in df_line.columns %}
                                    <th scope = "col">{{ col }} </th>
                                {% endfor %}
                            </tr>
                        </thead>
                        <tbody>
                            {% for index, row in df_line.iterrows %}
                                <tr>
                                    {% for cell in row %}
                                    <td scope = "row">{{ cell }}</td>
                                    {% endfor %}
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                <br>
                <div class = "table-responsive">
                    <h3> Target species </h3>
                    <table border="1" class = "table">
                        <thead>
                            <tr>
                                {% for col in df_target.columns %}
                                    <th scope ="col"> {{ col }} </th>
                                {% endfor %}
                            </tr>
                        </thead>
                        <tbody>
                            {% for index, row in df_target.iterrows %}
                                <tr>
                                    {% for cell in row %}
                                    <td scope = "row"> {{ cell }} </td>
                                    {% endfor %}
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                <br>
                <div class = "table-responsive">
                    <h3> Type of baits </h3>
                    <table border="1" class = "table">
                        <thead>
                            <tr>
                                {% for col in df_bait.columns %}
                                    <th scope = "col"> {{ col }} </th>
                                {% endfor %}
                            </tr>
                        </thead>
                        <tbody>
                            {% for index, row in df_bait.iterrows %}
                                <tr>
                                    {% for cell in row %}
                                    <td scope = "row">{{ cell }}</td>
                                    {% endfor %}
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>    
            </div>
        </div>
    </div>
</div>
    


<div class="container-fluid">
    <div class="row">
      <div class="col-md-6 text-start">
        <a href="../logbook" class="btn btn-danger"> Retour et modification </a>
      </div>
  
      <div class="col-md-6 text-end">
        <a href="send_logbook2Observe" class="btn btn-success"> Envoyer le logbook </a>
      </div>
    </div>
  </div>


<br><br><br>

    <div>
        <h3> all data - dataframe </h3>
       <!-- {{ df_vessel | safe }} -->  
        <table border="1" class = "table">
            <thead>
                <tr>
                    {% for col in df_activity.columns %}
                        <th scope = "col"> {{ col }} </th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                {% for index, row in df_activity.iterrows %}
                    <tr>
                        {% for cell in row %}
                        <td scope = "row"> {{ cell }} </td>
                        {% endfor %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock content %}

{% block footer %}
<p>&copy; En cours de développement </p>
{% endblock footer %}