{% extends "base.html" %}
{% load static %}


{% block title %}

Palangre aux Seychelles

{% endblock title %}

{% block navigation %}
{% endblock navigation %}

{% block heading %}
<h1>Page d'accueil pour les données de palangre</h1>
{% endblock heading %}

{% block content %}


    <section>
        {% comment %} 
        <h2>Mise à jour des données de références</h2>

        <form method="post" action="{% url 'checking logbook' %}">
            {% csrf_token %}
            <button type="submit"> lancer le chargement des données </button>
        </form> 
        {% endcomment %}
        
    </section>

   

<main class="grid place-items-center w-full min-h-screen transition-all main">

    <!-- Content -->
    <div class="p-12">

        <!-- First line div -->
        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-6 mb-6">

            <div class="bg-gray-200 rounded-md border border-gray-100 p-6 shadow-md shadow-black/5 flex justify-center items-center">
                <div class="text-center mb-1">
                    <div class="text-2xl font-semibold mb-1"> Journal du 
                        {% for index, row in df_date.iterrows %}
                            {% if row.Logbook_name == 'Month' %}
                            <!-- Affichage de la valeur du mois -->
                                {% with month_value=row.Value %}
                                        {% if row.Value < 10 %}
                                            0{{ month_value }}
                                        {% else %}
                                            {{ month_value }}
                                        {% endif %}
                                {% endwith %}
                            {% elif row.Logbook_name == 'Year' %}
                                <!-- Affichage de l'année -->
                                {% with year_value=row.Value %}
                                    / {{ year_value }}
                                {% endwith %}
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </div>

            <div class="bg-gray-200 rounded-md border border-gray-100 p-6 shadow-md shadow-black/5 flex justify-center items-center">
                <div class="text-center mb-1">
                    <div class="text-2xl font-semibold"> Océan {{ocean | safe}}</div>
                </div>
            </div>

            <div class="bg-gray-200 rounded-md border border-gray-100 p-6 shadow-md shadow-black/5 flex justify-center items-center">
                <div class = "text-center mb-1">
                    <div class="text-2xl font-semibold"> Programme {{programme | safe }}</div>
                </div>
            </div>

            <div class="bg-gray-200 rounded-md border border-gray-100 p-6 shadow-md shadow-black/5 flex justify-center items-center">
                <div class="text-center text-2xl font-semibold">
                    Rapporté 
                    {% for index, row in df_report.iterrows %}
                        {% if row.Logbook_name == 'Person reported' %}
                        <!-- Affichage de la valeur du mois -->
                            {% with report_value=row.Value %}
                                par {{ report_value }}
                            {% endwith %}
                        {% elif row.Logbook_name == 'Date reported' %}
                            <!-- Affichage de l'année -->
                            {% with date_value=row.Value %}
                                le {{ date_value }}
                            {% endwith %}
                        {% endif %}
                    {% endfor %}
                </div>     
            </div>
        </div>
        <!-- End First line div -->

        <!-- Second line div -->
        <div class="grid grid-cols-1 lg:grid-cols-2 gap-6 mb-6">
            
            <div class="p-6 relative flex flex-col min-w-0 mb-4 lg:mb-0 break-words bg-gray-50 dark:bg-gray-800 w-full shadow-lg rounded">
                <div class="rounded-t mb-0 px-0 border-0">
                    <div class="flex flex-wrap items-center px-4 py-2">
                        <div class="relative w-full max-w-full flex-grow flex-1">
                            <h3 class="text-2xl font-semibold text-center text-gray-900 dark:text-gray-50 flex justify-center items-center"> Informations de marée</h3>
                        </div>
                    </div>

                    <div class="block w-full overflow-x-auto">
                        <table class="items-center mx-auto w-full bg-transparent border-collapse">
                            <tbody>                
                                {% for index, row in df_cruise.iterrows %}
                                    <tr class="text-gray-700 dark:text-gray-100">
                                        {% for cell in row %}
                                        <td class="text-1.5xl border-t-0 px-4 align-middle text-center border-l-0 border-r-0 text-m whitespace-nowrap p-3">
                                            {{ cell }}
                                        </td>
                                        {% endfor %}
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <div class="bg-gray-200 border border-gray-100 shadow-md shadow-black/5 p-6 rounded-md">
                <div class="rounded-t mb-0 px-0 border-0">
                    <div class="flex flex-wrap items-center px-4 py-2">
                        <div class="relative w-full max-w-full flex-grow flex-1">
                            <h3 class="text-2xl font-semibold text-center flex justify-center items-center"> Informations sur le navire</h3>
                        </div>
                    </div>

                    <div class="block w-full overflow-x-auto">
                        <table class="items-center mx-auto w-full bg-transparent border-collapse">
                            <tbody>                
                                {% for index, row in df_vessel.iterrows %}
                                    <tr class="">
                                        {% for cell in row %}
                                        <td class="border-t-0 px-2 align-middle text-center border-l-0 border-r-0 text-m whitespace-nowrap p-2">
                                            {% if row.Value != '' %}
                                                {{ cell }}
                                            {% endif %}   
                                        </td>
                                        {% endfor %}
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
                
            </div>
        </div>
        <!-- End Second line div -->

        <!-- Third line div -->
        <div class="grid grid-cols-1 lg:grid-cols-6 gap-6 mb-6">
            <div class="bg-gray-200 border border-gray-100 shadow-md shadow-black/5 p-6 rounded-md lg:col-span-2">
                <div class="rounded-t mb-0 px-0 border-0">
                    <div class="flex flex-wrap items-center px-4 py-2">
                        <div class="relative w-full max-w-full flex-grow flex-1">
                            <h3 class="text-2xl font-semibold text-center flex justify-center items-center"> Informations sur le matériel</h3>
                        </div>
                    </div>
                </div>
    
                <div class="block w-full overflow-x-auto">
                    {% if df_gear|length == 2 %}    
                    <table class="items-center w-full bg-transparent border-collapse">
                        <tbody> 
                            {% for index, row in df_gear.0.iterrows %}
                                <tr class="">
                                    {% for cell in row %}
                                    <td class="border-t-0 px-2 align-middle text-center border-l-0 border-r-0 text-m whitespace-nowrap p-2">
                                        {{ cell }}
                                    </td>
                                    {% endfor %}
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>

                    <div class="text-center font-regular relative mb-4 block w-full rounded-lg bg-orange-500 p-4 text-base leading-5 text-white opacity-100">
                        {{ df_gear.1 | safe}}
                    </div>    
                              

                    {% elif df_gear|length == 1 %}
                    <table class="items-center w-full bg-transparent border-collapse">
                        <tbody>
                            {% for index, row in df_gear.iterrows %}
                                <tr class="">
                                {% for cell in row %}
                                <td class="border-t-0 px-2 align-middle text-center border-l-0 border-r-0 text-m whitespace-nowrap p-2">
                                    {{ cell }}
                                </td>
                                    {% endfor %}
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    {% endif %}
                </div>
            </div>

            <div class="bg-gray-200 border border-gray-100 shadow-md shadow-black/5 p-6 rounded-md lg:col-span-2">
                <div class="rounded-t mb-0 px-0 border-0">
                    <div class="flex flex-wrap items-center px-4 py-2">
                        <div class="relative w-full max-w-full flex-grow flex-1">
                            <h3 class="text-2xl font-semibold text-center flex justify-center items-center"> Informations sur la ligne de pêche</h3>
                        </div>
                    </div>
                </div>
    
                <div class="block w-full overflow-x-auto">
                    {% if df_line|length == 2 %}    
                    <table class="items-center w-full bg-transparent border-collapse">
                        <tbody> 
                            {% for index, row in df_line.0.iterrows %}
                                {% if row.Value != None %}
                                    <tr>
                                    {% comment %} {% for cell in row %} {% endcomment %}
                                    <td class="border-t-0 px-2 align-middle text-center border-l-0 border-r-0 text-m whitespace-nowrap p-2">
                                        {{ row.Logbook_name }}
                                    </td>
                                {% endif %}
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>

                    <div class="text-center font-regular relative mb-4 block w-full rounded-lg bg-orange-500 p-4 text-base leading-5 text-white opacity-100">
                        {{ df_line.1 | safe}}
                    </div> 


                    {% elif df_gear|length == 1 %}
                    <table class="items-center w-full bg-transparent border-collapse">
                        <tbody>                
                            {% for index, row in df_line.iterrows %}
                                {% if row.Value != None %}
                                    <tr>
                                    <td class="border-t-0 px-2 align-middle text-center border-l-0 border-r-0 text-m whitespace-nowrap p-2">
                                        {{ row.Logbook_name }}
                                    </td>
                                    
                                    {% comment %} <tr class="">
                                    {% for cell in row %}
                                    <td class="border-t-0 px-2 align-middle text-center border-l-0 border-r-0 text-m whitespace-nowrap p-2">
                                        {{ cell }}
                                    </td>
                                    {% endfor %} {% endcomment %}

                                    </tr>
                                {% endif %}
                            {% endfor %}
                        </tbody>
                    </table>
                    {% endif %}
                </div>
            </div>

            <div class="bg-gray-200 border border-gray-100 shadow-md shadow-black/5 p-6 rounded-md">
                <div class="rounded-t mb-0 px-0 border-0">
                    <div class="flex flex-wrap items-center px-4 py-2">
                        <div class="relative w-full max-w-full flex-grow flex-1">
                            <h3 class="text-2xl font-semibold text-center flex justify-center items-center"> Espèces visées </h3>
                        </div>
                    </div>
                </div>

                <div class="block w-full overflow-x-auto">
                    <table class="items-center w-full bg-transparent border-collapse">
                        <tbody>                
                            {% for index, row in df_target.iterrows %}
                                {% if row.Value != None %}
                                    <tr>
                                        <td class="border-t-0 px-2 align-middle text-center border-l-0 border-r-0 text-m whitespace-nowrap p-2">
                                            {{ row.Logbook_name }}
                                        </td>
                                        {% comment %} <td>
                                            {% if row.Value != None %}
                                                <input id="ripple-on" type="checkbox"
                                                class="peer relative h-5 w-5 appearance-none rounded-md border transition-all checked:border-blue-500 checked:bg-blue-500"
                                                checked disabled />
                                            {% endif %}
                                        </td> {% endcomment %}
                                    </tr>
                                {% endif %}
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="bg-gray-200 border border-gray-100 shadow-md shadow-black/5 p-6 rounded-md">
                <div class="rounded-t mb-0 px-0 border-0">
                    <div class="flex flex-wrap items-center px-4 py-2">
                        <div class="relative w-full max-w-full flex-grow flex-1">
                            <h3 class="text-2xl font-semibold text-center flex justify-center items-center"> Âppats utilisés </h3>
                        </div>
                    </div>
                </div>

                <div class="block w-full overflow-x-auto">
                    <table class="items-center w-full bg-transparent border-collapse">
                        <tbody>                
                            {% for index, row in df_bait.iterrows %}
                                {% if row.Value != 'None' %}
                                <tr class="">
                                    <td class="border-t-0 px-2 align-middle text-center border-l-0 border-r-0 text-m whitespace-nowrap p-2">
                                        {{ row.Logbook_name }}
                                    </td>
                                </tr>
                                {% endif %}
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>

        </div>
        <!-- End Third line div -->
    </div>
<!-- End Content -->

<!-- Div buttons -->
    <div class="flex justify-center items-center inline-flex">

        <button class="py-3 px-4 text-white font-semibold rounded-xl shadow-md mr-2 mb-0 transition bg-red-400 hover:bg-red-900 active:bg-red-900 focus:bg-red-900">
            <a href="../logbook">
                Annuler
            </a>
        </button>
        
        <button class="w-full px-4 py-3 text-white font-semibold text-center rounded-xl transition bg-green-600 hover:bg-green-900 active:bg-green-900 focus:bg-green-900">
                <a href="send_logbook2Observe">
                    Envoyer le journal de bord
                </a>
        </button>
    </div>
<!-- End Div buttons -->






    <div class="container mx-auto px-4 sm:px-4">
        <div class="py-8">
            <div>
                <h2 class="text-2xl font-semibold leading-tight">Données jour par jour</h2>
            </div>

    

            <div class="-mx-2 sm:-mx-2 px-2 sm:px-8 py-2 overflow-x-auto">
                <div class="inline-block min-w-full shadow rounded-lg overflow-hidden">
                    <table class="min-w-full leading-normal" id = "dataTable">

                        <thead>
                            <tr>
                                {% for col in df_activity.columns %}
                                    {% comment %} {% if col != 'VesselActivity' %} {% endcomment %}
                                    <th class="px-5 py-2 border-b-2 border-gray-200 bg-gray-100 text-center text-xs font-semibold text-gray-600 uppercase tracking-wider">
                                        {{ col }} 
                                    </th>
                                    {% comment %} {% endif %} {% endcomment %}
                                {% endfor %}
                            </tr>
                        </thead>

                        <tbody>
                            {% for index, row in df_activity.iterrows %}
                                
                                <tr>

                                    {% comment %} {% for cell in row %}
                                        {% if not starts_with(cell, 'fr.referentiel') %}
                                            <td class="px-5 py-2 border-b border-gray-200 bg-white text-sm">
                                                {{ cell }}
                                            </td>
                                        {% endif %}
                                    {% endfor %} {% endcomment %}

                                

                                {% for cell in row %}
                                    <td class="px-5 py-2 border-b border-gray-200 bg-white text-sm"> 
                                        {{ cell }} 
                                    </td>
                                {% endfor%}
                                </tr>
                            {% endfor %}
                        </tbody>

                       
                    </table>
                    

                </div>
            </div>
        </div>
    </div>
</main>



<!-- Inclure jQuery -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<!-- Inclure la bibliothèque DataTables -->
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.js"></script>

<script>
    $(document).ready(function() {
        $('#dataTable').DataTable();
    });
</script>


{% endblock content %}

{% block footer %}
<p>&copy; En cours de développement </p>
{% endblock footer %}
