{% extends "base.html" %}
{% load static %}


{% block title %}

Palangre aux Seychelles

{% endblock title %}

{% block navigation %}
{% endblock navigation %}

{% block heading %}
<h1>Page d'accueil pour les données de palangre</h1>
{% endblock heading %}

{% block content %}

<form method="POST" id="previoustrip" action="{% url 'checking logbook' %}">
    <!-- last trip extracted data -->
    {% if startDate != None %}
        <div class = "rounded-md p-4 flex justify-center items-center">
            <div class = "text-center text-2xl mb-6">
                La dernière marée enregistrée sur Observe pour le navire
                   <b> {{ vessel }} </b>
                selon le programme {{ programme }} et dans l'océan {{ ocean }}

                est la suivante : 
            </div>  
        </div>  

        <div class = "p-6 flex justify-center items-center">

            <div class="grid grid-cols-1 md:grid-cols-3 lg:grid-cols-3 gap-6 mb-6">
            
                <div class="text-center mb-1 text-2xl">
                    Marée initiée le <b>{{ startDate |slice:":10"}}</b> 
                    depuis le port de <b>{{ depPort }}</b> 
                </div>

                <div class="text-center mb-1 text-2xl">
                    Actuellement cloturée le <b>{{ endDate |slice:":10"}}</b>
                </div>

                <div class="text-center mb-1 text-2xl">
                    Menée par le capitaine <b>{{ captain }}</b>
                </div>
            </div>
        </div>

        <div class = "rounded-md p-4 flex justify-center items-center">
            <div class = "text-center text-2xl mb-6">
                Que souhaitez-vous faire ?
                <br> <br> <br>
                <div class="flex justify-center text-2xm items-right inline-flex">
                    <input id = "continuetrip" value="Continuer cette marée" type="submit" name="continuetrip" class="w-full px-4 py-3 text-white font-semibold text-center rounded-xl transition bg-green-600 hover:bg-green-900 active:bg-green-900 focus:bg-green-900"/>
                </div>

                <div class="flex justify-center text-2xm items-right inline-flex">
                    <input id = "newtrip" value="Créer une nouvelle marée" type="submit" name="newtrip" class="w-full px-4 py-3 text-white font-semibold text-center rounded-xl transition bg-green-600 hover:bg-green-900 active:bg-green-900 focus:bg-green-900"/>
                </div>
            </div>  
        </div>


    {% else %}
    <!-- for the boat first trip (in this program) -->
    <div class="grid grid-cols-1 md:grid-cols-1 lg:grid-cols-1 gap-6 mb-6">
        <div class = "bg-yellow-100 rounded-md border border-gray-100 p-6 shadow-md shadow-black/5 flex justify-center items-center">
            <div class="flex justify-center items-right inline-flex">
                <input id = "newtrip" value="Cette marée est une nouvelle marée" type="submit" name="newtrip" class="w-full px-4 py-3 text-white font-semibold text-center rounded-xl transition bg-green-600 hover:bg-green-900 active:bg-green-900 focus:bg-green-900"/>
            </div>
        </div>
    </div>
    {% endif %}

    {% csrf_token %}
</form>

{% endblock content %}

{% block footer %}
<p>&copy; En cours de développement </p>
{% endblock footer %}
