{% extends "base.html" %}
{% load static %}
{% load i18n %}


{% block title %}

{% translate "Palangre aux Seychelles"%}

{% endblock title %}

{% block navigation %}
{% endblock navigation %}

{% block heading %}
<h1> {% translate "Envoie des données dans la base" %}</h1>
{% endblock heading %}

{% block content %}
  
<div class="mb-5">
  {% if messages %}
    {% for message in messages %}
      <div class="font-regular relative block w-full max-w-screen-md rounded-lg px-4 py-4 text-base 
      {% if message.tags == 'success' %}
        bg-green-200
      {% elif message.tags == 'error' %}
        bg-red-200
      {% elif message.tags == 'warning' %}
        bg-yellow-500
      {% else %}
        bg-grey-100
      {% endif %}" data-dismissible="alert">
      
        <div class="ml-8 mr-12 mb-5 font-sans text-center text-xl font-semibold font-semibold leading-snug tracking-normal text-black antialiased">
          <ul class="messages">     
            <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
          </ul>      
        </div>
      </div>
    {% endfor %}
  {% endif %}


  <!-- Div buttons -->
  <div class="flex justify-center items-center inline-flex m-8">
    {% comment %} <a href="./logbook" class="py-3 px-4 text-white font-semibold rounded-xl shadow-md mr-2 mb-0 transition bg-red-400 hover:bg-red-900 active:bg-red-900 focus:bg-red-900">          {% translate "Retour à la zone de dépôt"%} {% endcomment %}
      <a href="{% url 'logbook' %}" class="py-3 px-4 text-white font-semibold rounded-xl shadow-md mr-2 mb-0 transition bg-red-400 hover:bg-red-900 active:bg-red-900 focus:bg-red-900">          {% translate "Retour à la zone de dépôt"%}
    </a>
  </div>
<!-- End Div buttons -->


</div>






{% endblock content %}

{% block footer %}
<p>&copy; {% translate "En cours de développement" %}</p>
{% endblock footer %}